.app {
  @apply flex flex-col;
  height: 100vh;
}

.app-main {
  @apply flex flex-1;
}

.app-header {
  @apply text-white p-4;
  background-color: #16171e;
}

.app-footer {
  @apply p-3;
  background-color: #16171e;
}

.right-panel {
  background-color: #27282e;
}

.canvas-wrapper {
  @apply overflow-scroll flex flex-1 justify-center items-center;

  background-color: #1b1c22;
}

canvas {
  @apply bg-white;
}
