canvas {
  height: 500px;
  width: 500px;
  border: 1px solid grey;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
